body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

h1{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    text-align: center;
}

.gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.gallery img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s ease;
    opacity: 0.8;
    border: 3px solid transparent;
    cursor: pointer;
}

.gallery img:hover {
    opacity: 1;
    border: 3px solid #007BFF;
    transform: scale(1.1);
}

 